{% load static %}
<!doctype HTML>
<html>
    <head>
        <link rel="stylesheet" href="{% static '1p.css' %}">
    </head>
    <body onload="firstFunc();"><!--ここから中身-->
    <!--ヘッダー-->
    <div class="header">
        <a href="/" class="btn-flat-vertical-border">トップページ</a>
        <a href="#" class="btn-flat-vertical-border2" style="left:85%;">遊び方</a>
    </div>
    <!--画像-->
    <div class="content">
      <img src="{% static 'HighAndLow_title.jpg' %}" class="img1" id="image" />
    </div>
    <!--トランプの画像-->
    <div>
        <img src="" width="270" class="bigcard" id="bigcard" />
    </div>
    <div>
        <img src="" width="260" class="smallcard" id="smallcard" />
    </div>
    
    <!--ハイアンドローボタン-->
    <div class="highbtn">
        <a href="#" class="btn" id="high" onclick="highFunc();" >▲ HIGH ▲</a>
        <a href="#" class="btn2" id="low" onclick="lowFunc();" >▼ LOW ▼</a>
    </div>
    
    <!--続けるやめるボタン-->
    <div class="stopcont">
        <font size="20"><a href="#" class="bt-stop" id="stop" onclick="contFunc();" >続ける</a></font>
        <font size="20"><a href="#" class="bt-cont" id="cont" onclick="stopFunc();" >やめる</a></font>
    </div>
    <!--ベットやめるボタン-->
    <!--<div class="bettop">
        <font size="10"><a href="#" class="btn-circle-border-double" id="bet" onclick="changeDisplay3();" >ベット</a></font>
        <font size="10"><a href="/" class="btn-circle-border-double2" id="top" >トップ</a></font>
    </div>-->
    
    <!--ベットボタン(OK)-->
    <div class="pickupblock">
        <img src="{% static 'betcoin.jpg' %}" width="1200" class="betcoin" id="betcoin" />
        <a href="#" class="btn-icon" id="betbtn" onclick="betOK();" >OK </a>
    </div>
    
    <!--ベットボタン(BETする)-->
    <div class="container">
        <a href="#" class="btn-denim" id="bet_suru" onclick="betsuru();" >BETする</a>
    </div>

    <!-- モーダル部分 -->
    <div class="modaloverlay" id="modaloverlay_id">
    </div>
    
    </body>
</html>

<script>
//カードの配列(あえて１を最後にしている)
    var clover = ["{% static 'clover2.jpg' %}","{% static 'clover3.jpg' %}"
    ,"{% static 'clover4.jpg' %}","{% static 'clover5.jpg' %}","{% static 'clover6.jpg' %}","{% static 'clover7.jpg' %}"
    ,"{% static 'clover8.jpg' %}","{% static 'clover9.jpg' %}","{% static 'clover10.jpg' %}","{% static 'clover11.jpg' %}"
    ,"{% static 'clover12.jpg' %}","{% static 'clover13.jpg' %}","{% static 'clover1.jpg' %}"];
    var spade = ["{% static 'spade2.jpg' %}","{% static 'spade3.jpg' %}","{% static 'spade4.jpg' %}"
    ,"{% static 'spade5.jpg' %}","{% static 'spade6.jpg' %}","{% static 'spade7.jpg' %}","{% static 'spade8.jpg' %}"
    ,"{% static 'spade9.jpg' %}","{% static 'spade10.jpg' %}","{% static 'spade11.jpg' %}","{% static 'spade12.jpg' %}"
    ,"{% static 'spade13.jpg' %}","{% static 'spade1.jpg' %}"];
    var heart = ["{% static 'heart2.jpg' %}","{% static 'heart3.jpg' %}","{% static 'heart4.jpg' %}"
    ,"{% static 'heart5.jpg' %}","{% static 'heart6.jpg' %}","{% static 'heart7.jpg' %}","{% static 'heart8.jpg' %}"
    ,"{% static 'heart9.jpg' %}","{% static 'heart10.jpg' %}","{% static 'heart11.jpg' %}","{% static 'heart12.jpg' %}"
    ,"{% static 'heart13.jpg' %}","{% static 'heart1.jpg' %}"];
    var dia = ["{% static 'dia2.jpg' %}","{% static 'dia3.jpg' %}"
    ,"{% static 'dia4.jpg' %}","{% static 'dia5.jpg' %}","{% static 'dia6.jpg' %}","{% static 'dia7.jpg' %}"
    ,"{% static 'dia8.jpg' %}","{% static 'dia9.jpg' %}","{% static 'dia10.jpg' %}","{% static 'dia11.jpg' %}"
    ,"{% static 'dia12.jpg' %}","{% static 'dia13.jpg' %}","{% static 'dia1.jpg' %}"];
//関数の外に親カードと子カード用の変数を作成
    var oyacard;
    var kocard;
    var suit;
//スートを設定する関数
    function changeSuit(){
        switch(Math.floor( Math.random() * 4)){
            case 0:
                suit = clover;//配列は参照渡し(suitで変更したらcloverも変更)
                break;
            case 1:
                suit = spade;
                break;
            case 2:
                suit = heart;
                break;
            case 3:
                suit = dia;
                break;
        }
    }
//親カードを設定する関数(スートを設定したあとに呼び出す)
    function oya(){
        oyacard = Math.floor( Math.random() * suit.length);
    }
//子カードを設定する関数(親カードを設定したあとに呼び出す)
    function ko(){
        kocard = Math.floor( Math.random() * suit.length);
        while(kocard === oyacard){//親カードとダブったら選びなおす
            kocard = Math.floor( Math.random() * suit.length);
        }
    }
//裏面表示
    function changeBack(){
        document.getElementById("smallcard").src="{% static 'back.jpg' %}";
    }
//初期アクセス
    function firstFunc(){
        changeSuit();//スートを設定
        oya();//親カードを設定
        document.getElementById("bigcard").src=suit[oyacard];//親カードの書き換え
        ko();//子カードを設定(書き換えはめくるアニメーションで行う)
        changeBack();//子カードを裏面に
        changeDisplay1();//ハイアンドローボタンの非表示
        changeDisplay2();//続けるやめるボタンの非表示
        //changeDisplay3();//ベットやめるボタンの非表示
        changeDisplay4();//ベット画像とOKの非表示
        changeDisplay6();//カード非表示
        //modal_original('on');
    }
//続けるボタンからのカードチェンジ
    function changeNext(){
        changeSuit();//スートを設定
        oya();//親カードを設定
        document.getElementById("bigcard").src=suit[oyacard];//親カードの書き換え
        ko();//子カードを設定(書き換えはめくるアニメーションで行う)
        changeBack();//子カードを裏面に
    }
//カードをめくるアニメーション
    const buttonElem1 = document.getElementById('high');
    const buttonElem2 = document.getElementById('low');
    let isBack = true;
    
    if(buttonElem1 !== null){
        buttonElem1.addEventListener('click', () => {
            const element = document.getElementById('smallcard');
            if(element !== null){
                let imagePath = isBack ? suit[kocard] : "{% static 'back.jpg' %}";
                rotationAnimationLoop(element, imagePath, 0);
                isBack = !isBack;
            }
        });
    }
    if(buttonElem2 !== null){
        buttonElem2.addEventListener('click', () => {
            const element = document.getElementById('smallcard');
            if(element !== null){
                let imagePath = isBack ? suit[kocard] : "{% static 'back.jpg' %}";
                rotationAnimationLoop(element, imagePath, 0);
                isBack = !isBack;
            }
        });
    }
    const rotationAnimationLoop = (element, imagePath, deg) =>{
        element.style.webkitTransform = 'rotateY(360deg)';
        if( deg <= 180 ){
            rotationAnimation(element, imagePath, deg);
            setTimeout( 
                () => {
                    rotationAnimationLoop(element, imagePath, deg+= 5 ) 
                }, 
            1 );
        }
    }
    const rotationAnimation = (element, imagePath, deg) =>{
        if ( 180 === deg ){
            element.src =  imagePath;//画像の切り替え
        }
        else {
            element.style.webkitTransform = 'rotateY(' + deg + 'deg)';//回転アニメーション
        }
    }
//カードをめくる関数
    function mekuru(){
        const element = document.getElementById('smallcard');
        if(element !== null){
            let imagePath = isBack ? suit[kocard] : "{% static 'back.jpg' %}";
            rotationAnimationLoop(element, imagePath, 0);
            isBack = !isBack;
        }
    }

//続けるボタンを押したあとの処理(ポイントが増えたり、カードが減ったり?)
    function contFunc(){
        changeDisplay2();
        mekuru();
        changeNext();
        changeDisplay1();
    }
//やめるボタンを押したあとの処理(ポイントの獲得?)
    function stopFunc(){
        //ポイント獲得のメッセージ
        changeDisplay2();
        mekuru();
        changeNext();
        changeDisplay5();
        changeDisplay6();
        changeDisplay7();
    }
//ハイボタンを押したあとの処理
    function highFunc(){
      changeDisplay1();
      if(judg0() === "success"){
        setTimeout("win();",650);
      }
      else if(judg0() === "failure"){
        setTimeout("lose();",650);
      }
    }
//ローボタンを押したあとの処理
    function lowFunc(){
      changeDisplay1();
      if(judg1() === "success"){
        setTimeout("win();",650);
      }
      else if(judg1() === "failure"){
        setTimeout("lose();",650);
      }
    }
//成功したあとの処理
    function win(){
        //WIN画像
        changeDisplay2();//続けるやめるボタンがでてくる
    }
//失敗したあとの処理
    function lose(){
        //LOSE画像
        setTimeout("mekuru(); changeNext(); changeDisplay5(); changeDisplay6(); changeDisplay7();", 1000)
    }
//ベットするボタンを押したあとの処理
    function betsuru(){
        changeDisplay5();
        changeDisplay4();
        modal_original('on');
    }
//表示非表示
    function changeDisplay1(){//ハイアンドローボタン
      var high = document.getElementById("high");
      var low = document.getElementById("low");
      if(high.style.visibility == "hidden"){
        high.style.visibility = "visible";
        low.style.visibility = "visible";
      }else{
        high.style.visibility = "hidden";
        low.style.visibility = "hidden";
      }
    }
    function changeDisplay2(){//続けるやめるボタン
      var stop = document.getElementById("stop");
      var cont = document.getElementById("cont");
      if(stop.style.display == "none"){
        stop.style.display = "block";
        cont.style.display = "block";
      }else{
        stop.style.display = "none";
        cont.style.display = "none";
      }
    }
//    function changeDisplay3(){//ベットやめるボタン
//      var bet = document.getElementById("bet");
//      var top = document.getElementById("top");
//      if(bet.style.display == "none"){
//        bet.style.display = "block";
//        top.style.display = "block";
//      }else{
//        bet.style.display = "none";
//        top.style.display = "none";
//      }
//    }
    function changeDisplay4(){//ベット画像とOK
        var betCoin = document.getElementById('betcoin');
        var betBtn = document.getElementById('betbtn');
        if(betCoin.style.visibility == "hidden"){
            betCoin.style.visibility = "visible";
            betBtn.style.visibility = "visible";
        }else{
            betCoin.style.visibility = "hidden";
            betBtn.style.visibility = "hidden";
        }        
    }
    function changeDisplay5(){//ベットするボタン
        var betSuru = document.getElementById('bet_suru');
        if(betSuru.style.display == "none"){
            betSuru.style.display = "block";
        }else{
            betSuru.style.display = "none";
        }
    }
    function changeDisplay6(){//親カード子カード
      var big = document.getElementById("bigcard");
      var small = document.getElementById("smallcard");
      if(big.style.display == "none"){
        big.style.display = "block";
        small.style.display = "block";
      }else{
        big.style.display = "none";
        small.style.display = "none";
      }
    }
    function changeDisplay7(){//画像
      var image = document.getElementById("image");
      if(image.style.display == "none"){
        image.style.display = "block";
      }else{
        image.style.display = "none";
      }
    }
//ベットボタン(OK)を押したあとの処理
    function betOK(){
        changeDisplay4();
        changeDisplay1();
        changeDisplay6();
        changeDisplay7();
        modal_original("");
    }
//成功失敗の判定
    function judg0(){
        if(kocard >= oyacard){
            return "success";
        }
        else if(kocard < oyacard){
            return "failure";
        }
    }
    function judg1(){
        if(kocard <= oyacard){
            return "success";
        }
        else if(kocard > oyacard){
            return "failure";
        }
    }


function modal_original(modalswitch){

    const setting_modalid = 'modaloverlay_id';
    //モーダルのIDを指定

    var smodalobj = document.getElementById(setting_modalid);

    //引数がonの場合は表示する
    if(modalswitch=='on'){
        document.getElementById(setting_modalid).style.display = 'block';
    }
    else{
        document.getElementById(setting_modalid).style.display = 'none';
    }

    //イベントを定義
    smodalobj.addEventListener('click',overlayclick, false);

//モーダルをクリックしたら起動し、不要な要素を非表示に
    function overlayclick(){
        document.getElementById(setting_modalid).style.display = 'none';
    }

}
</script>