{% load static %}
<!doctype HTML>
<html>
    <head>
        <link rel="stylesheet" href="{% static '1p.css' %}">
    </head>
    <body onload="firstScript();"><!--ここから中身-->
    <!--ヘッダー-->
    <div class="header">
        <a href="/" class="btn-flat-vertical-border">トップページ</a>
        <a href="#" class="btn-flat-vertical-border2" style="left:85%;">遊び方</a>
    </div>
    
    <!--トランプの画像-->
    <div style="text-align: center">
        <img src="" width="270" class="bigcard" id="bigcard" />
    </div>
    <div style="text-align: center">
        <img src="" width="260" class="smallcard" id="smallcard" />
    </div>
    
    <!--ハイアンドローボタン-->
    <div class="highbtn">
        <a href="#" class="btn" id="high">▲ HIGH ▲</a>
        <a href="#" class="btn2" id="low">▼ LOW ▼</a>
    </div>
    
    </body>
</html>

<script>
//カードの配列
    const images = ["{% static 'clover1.jpg' %}",
    "{% static 'clover2.jpg' %}"];
//ハイアンドローボタンが押されたときのカード表示
    function changeCard(){
        
    }
//裏面表示
    function changeBack(){
        document.getElementById("smallcard").src="{% static 'back.jpg' %}";
    }
//初期アクセス時のカード表示
    function firstScript(){
        const image0 = Math.floor( Math.random() * images.length);//変数には要素の番号が入る
        document.getElementById("bigcard").src=images[image0];
        changeBack();
    }
//カードをめくるアニメーション
const buttonElem1 = document.getElementById('high');
const buttonElem2 = document.getElementById('low');
let isBack = true;

if(buttonElem1 !== null){
    buttonElem1.addEventListener('click', () => {
        const element = document.getElementById('smallcard');
        if(element !== null){
            let imagePath = isBack ? "{% static 'clover1.jpg' %}" : "{% static 'back.jpg' %}";
            rotationAnimationLoop(element, imagePath, 0);
            isBack = !isBack;
        }
    });
}
if(buttonElem2 !== null){
    buttonElem2.addEventListener('click', () => {
        const element = document.getElementById('smallcard');
        if(element !== null){
            let imagePath = isBack ? "{% static 'clover1.jpg' %}" : "{% static 'back.jpg' %}";
            rotationAnimationLoop(element, imagePath, 0);
            isBack = !isBack;
        }
    });
}
const rotationAnimationLoop = (element, imagePath, deg) =>{
    if( deg <= 180 ){
        rotationAnimation(element, imagePath, deg);
        setTimeout( 
            () => {
                rotationAnimationLoop(element, imagePath, deg+= 5 ) 
            }, 
        1 );
    }
}
const rotationAnimation = (element, imagePath, deg) =>{
    if ( 90 === deg ){
        element.src =  imagePath;
    }else {
        element.style.webkitTransform = 'rotateY(' + deg + 'deg)';
    }
}
</script>