{% load static %}
<!doctype HTML>
<html>
    <head>
        <link rel="stylesheet" href="{% static '1p.css' %}">
    </head>
    <body><!--ここから中身-->
    <!--ヘッダー-->
    <div class="header">
        <a href="/" class="btn-flat-vertical-border">トップページ</a>
        <a href="#" class="btn-flat-vertical-border2" style="left:85%;">遊び方</a>
    </div>
    
    <!--ハイアンドローボタン-->
    <table cellspacing="200px">
    <tr>
        <td><a href="#" class="btn">▲ HIGH ▲</a></td>
        <td><a href="#" class="btn2">▼ LOW ▼</a></td>
    </tr>
　　</table>
    
    </body>
</html>