{% load static %}
<!doctype HTML>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'index.css' %}">
    </head>
    <body><!--ここから中身-->
    <!--背景-->
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <!--画像１-->
    <div class="content">
      <img src="{% static 'HighAndLow_title.jpg' %}" class="img1" />
    </div>
    <!--ボタン-->
    <font size="5"><a href="/1p" class="cp_btn" style="left: 35%;">一人で遊ぶ</a></font>
    <font size="5"><a href="/2p" class="cp_btn2" style="left: 52%;">二人で遊ぶ</a></font>
    <font size="5"><a href="/how" class="cp_btn3" style="left: 43.5%;">遊び方</a></font>
    
    </body>
</html>
