/*背景*/
body{
  background-color: #00EE00;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #00DD00), color-stop(.25, transparent), to(transparent)),
                    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #00DD00), color-stop(.25, transparent), to(transparent)),
                    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #00DD00)),
                    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #00DD00));
  -webkit-background-size:35px 35px;
}

/*ヘッダー*/
.header {
  margin: 0 auto;
  width: 100%;
  height: 10%;
  background-color: rgba(0,0,0,0.5);
}
.block {
  text-align: right;
  position: relative;
  bottom: 40px;
  right: 20px;
}

.btn-flat-vertical-border {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 1em;
  text-decoration: none;
  border-left: solid 4px #FF9933;
  border-right: solid 4px #FF9933;
  color: #FF9933;
  background: #e1f3ff;
  transition: .4s;
}

.btn-flat-vertical-border:hover {
  background: #FF9933;
  color: #FFF;
}

.btn-flat-vertical-border2 {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 1em;
  text-decoration: none;
  border-left: solid 4px #668ad8;
  border-right: solid 4px #668ad8;
  color: #668ad8;
  background: #e1f3ff;
  transition: .4s;
}

.btn-flat-vertical-border2:hover {
  background: #668ad8;
  color: #FFF;
}

/*ハイアンドローボタン*/
.highbtn{
    margin-top: -170px;
    display: flex;
    justify-content: space-between;
}

.btn{
    margin-left:150px;
    width:400px;
    height:140px;
    line-height:140px;
}
.btn{
    display:block;
    text-decoration: none;
    background:#FF722F;
    text-align:center;
    color:#FFFFFF;
    font-size:70px;
    font-weight:bold;
    border-radius:30px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    box-shadow:5px 5px 8px 0px #6C6C6C ;
    text-shadow:2px 2px 5px #000000 ;
}
.btn:hover{
    background:#FF685A;
    color:#FFFFFF;
    margin-right:150px;
    margin-top:5px;
    box-shadow:none;
}

.btn2{
    margin-right:150px;
    width:400px;
    height:140px;
    line-height:140px;
}
.btn2{
    display:block;
    text-decoration: none;
    background:#6A84FF;
    text-align:center;
    color:#FFFFFF;
    font-size:70px;
    font-weight:bold;
    border-radius:30px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    box-shadow:5px 5px 8px 0px #6C6C6C ;
    text-shadow:2px 2px 5px #000000 ;
}
.btn2:hover{
    background:#5A62FF;
    color:#FFFFFF;
    margin-left:5px;
    margin-top:5px;
    box-shadow:none;
} 

/*続けるやめるボタン*/
a.bt-stop{
  margin-left:280px;
  display: block;
  position: relative;
  text-decoration: none;
  height:200px;
  width: 200px;
  line-height: 200px;
  background-color:#F8F8FF;
  text-align: center;
  color: #0475fb;
  border: solid 1px #0475fb;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
}
a.bt-stop:after{
  content:"";
  position: absolute;
  top: -100%;
  left: -100%;
  background : #0475fb;
  opacity: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}
a.bt-stop:hover{
  color: #fff;
}
a.bt-stop:hover:after{
  top: 0;
  left: 0;
  height:200px;
  width: 200px;
  border-radius: 50%;
  opacity: 1;
}

a.bt-cont{
  margin-right:280px;
  display: block;
  position: relative;
  text-decoration: none;
  height:200px;
  width: 200px;
  line-height: 200px;
  background-color:#F8F8FF;
  text-align: center;
  color: #FF6347;
  border: solid 1px #FF6347;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
}
a.bt-cont:after{
  content:"";
  position: absolute;
  top: -100%;
  left: -100%;
  background : #FF6347;
  opacity: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}
a.bt-cont:hover{
  color: #fff;
}
a.bt-cont:hover:after{
  top: 0;
  left: 0;
  height:200px;
  width: 200px;
  border-radius: 50%;
  opacity: 1;
}

.stopcont{
    margin-top: -200px;
    display: flex;
    justify-content: space-between;
}

/*ベットボタン*/
.bettop{
    display: flex;
    justify-content: space-between;
}
a.btn-circle-border-double{
  margin-left:280px;
  display: block;
  position: relative;
  text-decoration: none;
  height:200px;
  width: 200px;
  line-height: 200px;
  background-color:#F8F8FF;
  text-align: center;
  color: #0475fb;
  border: solid 1px #0475fb;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
}
a.btn-circle-border-double:after{
  content:"";
  position: absolute;
  top: -100%;
  left: -100%;
  background : #0475fb;
  opacity: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}
a.btn-circle-border-double:hover{
  color: #fff;
}
a.btn-circle-border-double:hover:after{
  top: 0;
  left: 0;
  height:200px;
  width: 200px;
  border-radius: 50%;
  opacity: 1;
}

a.btn-circle-border-double2{
  margin-right:280px;
  display: block;
  position: relative;
  text-decoration: none;
  height:200px;
  width: 200px;
  line-height: 200px;
  background-color:#F8F8FF;
  text-align: center;
  color: #FF6347;
  border: solid 1px #FF6347;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
}
a.btn-circle-border-double2:after{
  content:"";
  position: absolute;
  top: -100%;
  left: -100%;
  background : #FF6347;
  opacity: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}
a.btn-circle-border-double2:hover{
  color: #fff;
}
a.btn-circle-border-double2:hover:after{
  top: 0;
  left: 0;
  height:200px;
  width: 200px;
  border-radius: 50%;
  opacity: 1;
}

/* モーダルのスタイル */
.modaloverlay {
overflow: auto;
position: fixed;
display: none;
top: 0;
left: 0;
z-index: 9999;
width: 100%;
height: 100%;
background-color:#000000;
opacity:0.6;
}


/* ピックアップするコンテンツのボックス */
.pickupblock{
position:relative;
}

/* ベット画像 */
.betcoin{
position: relative;
margin-left:140px;
margin-top:-1000px;
-webkit-appearance: none;
z-index:15000;
}

/* ベットボタン */
.btn-icon {
  -webkit-appearance: none;
  z-index:15000;
  display: block;
  max-width: 180px;
  text-align: center;
  background-color: #9ec34b;
  font-size: 50px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px 8px 32px;
  border-radius: 4px;
  position: relative;
}

.btn-icon:hover {
  opacity: 0.8;
}