html,body{
    overflow: hidden;
}
/*背景*/
body{
  background-color: #00EE00;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #00DD00), color-stop(.25, transparent), to(transparent)),
                    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #00DD00), color-stop(.25, transparent), to(transparent)),
                    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #00DD00)),
                    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #00DD00));
  -webkit-background-size:35px 35px;
}

img.how{
    width:110%;
    height:850px;
    margin-left:95px;
}
.header {
  width: 100%;
  max-height:40px;
  background-color: rgba(0,0,0,0.5);
}
.btn-flat-vertical-border {
  position:relative;
  top:0px;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 1em;
  text-decoration: none;
  border-left: solid 4px #FF9933;
  border-right: solid 4px #FF9933;
  color: #FF9933;
  background: #e1f3ff;
  transition: .4s;
}

.btn-flat-vertical-border:hover {
  background: #FF9933;
  color: #FFF;
}

.btn-flat-vertical-border2 {
  position:relative;
  top:0px;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 1em;
  text-decoration: none;
  border-left: solid 4px #668ad8;
  border-right: solid 4px #668ad8;
  color: #668ad8;
  background: #e1f3ff;
  transition: .4s;
}

.btn-flat-vertical-border2:hover {
  background: #668ad8;
  color: #FFF;
}