/*背景*/
html {
  height:100%;
}

body {
  margin:0;
}
html,body{
    overflow: hidden;
}

.wrap {
    height: 1080px;
    width: 1920px;
    position: absolute;
    transform-origin: 0% 0%;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #9c9 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  left:50%;
  position:fixed;
  text-align:center;
  top:35%;
  transform:translate(-50%, -50%);
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
/*画像*/
img.img1 {
width: 90%;
height: 60%;
}

/*h1 {
  font-family:monospace;
}*/

/*ボタン*/
a.cp_btn {
	display: block;
	position: relative;
	top: 680px;
　  left: 52%;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	border:1px solid #FF5192;
	background: #FF5192;
	overflow: hidden;
	z-index: 1 !important;
}
a.cp_btn:after {
	content:"";
	position: absolute;
	top: 50%;
	left: 50%;
	height: 0;
	width: 100%;
	background : #fff;
	opacity: 0;
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transition: 0.3s;
	z-index: -1;
}
a.cp_btn:hover {
	color: #da3c41;
}
a.cp_btn:hover:after {
	height: 250%;
	opacity: 1;
}
a.cp_btn:active:after {
	height: 350%;
	opacity: 1;
}

a.cp_btn2 {
	display: block;
	position: relative;
	top: 604px;
　  left: 50%;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	border:1px solid #75A9FF;
	background: #75A9FF;
	overflow: hidden;
	z-index: 1 !important;
}
a.cp_btn2:after {
	content:"";
	position: absolute;
	top: 50%;
	left: 50%;
	height: 0;
	width: 100%;
	background : #fff;
	opacity: 0;
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transition: 0.3s;
	z-index: -1;
}
a.cp_btn2:hover {
	color: #4689FF;
}
a.cp_btn2:hover:after {
	height: 250%;
	opacity: 1;
}
a.cp_btn2:active:after {
	height: 350%;
	opacity: 1;
}

a.cp_btn3 {
	display: block;
	position: relative;
	top: 660px;
　  left: 52%;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	border:1px solid #FF8C00;
	background: #FF8C00;
	overflow: hidden;
	z-index: 1 !important;
}
a.cp_btn3:after {
	content:"";
	position: absolute;
	top: 50%;
	left: 50%;
	height: 0;
	width: 100%;
	background : #fff;
	opacity: 0;
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transition: 0.3s;
	z-index: -1;
}
a.cp_btn3:hover {
	color: #4689FF;
}
a.cp_btn3:hover:after {
	height: 250%;
	opacity: 1;
}
a.cp_btn3:active:after {
	height: 350%;
	opacity: 1;
}
